
.row {
}

::selection {
    background: dodgerblue;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: dodgerblue;
    color: #fff;
    text-shadow: none;
}

body {
    font-family: "HelveticaNeue-Light", Helvetica Neue, Helvetica, Arial, sans-serif;
}
a {
    color: #333;
}
hr {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
    width: 100%;
}


.big-hero {
    height: 600px;
    background: url("../images/background.png") no-repeat center center / 100% auto;

    font-family: "HelveticaNeue-Thin", "HelveticaNeue-Light", Helvetica Neue, Helvetica, Arial, sans-serif;

    color: #fff;
    padding: 100px 0;
}

.big-hero a {
    color: #fff;
}
.big-hero .alias {
    font-size: 24px;
    line-height:0.7em;
    text-align: center;
    height: 20px;
}
.big-hero .name {
    font-size: 50px;
    line-height: 0.4em;
    text-align: center;
    height: 20px;
}
.big-hero .blurb {
    font-size: 18px;
    line-height: 1em;
    text-align: center;
    height: 50px;
}
.big-hero .avatar-container {
    text-align: center;
    margin: 35px 0 50px;
}
.big-hero .avatar {
    height: 200px;
}
.big-hero .links {
    text-align: center;
}
.big-hero .links li {
    margin-bottom: 10px;
    text-align: center;
    border-right: 1px solid #fff;
}
.big-hero .links li a {
    font-size: 18px;
    width: 100%;
}
.big-hero .links li:last-child {
    border: 0;
}

.content-block {

    padding: 0 15px 15px;
}
.content-block .side-column {
    padding: 0 40px;
    text-align: right;
    background-color: #fff;

}
.content-block .side-column a {
    color: #333;
    font-size: 16px;
    font-weight: bold;
 }
.content-block .side-column h2 {
    font-size: 13px;
    margin-top: 48px;
    margin-bottom: 15px;
    line-height: 1.1em;
    font-weight: normal;
}
.content-block .main-column {}
.content-block .main-column  hr {
    margin: 0;
}
.content-block .content-block-row {
}
.content-block .content-block-row h3 {
    font-size: 25px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.content-block .content-block-row a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 20px 20px 30px;
    width: 100%;
}
.content-block .content-block-row a:link {
    color: #333;
}
.content-block .content-block-row a:visited {
    color: #333;
}
.content-block .content-block-row a:hover {
    color: #999;
}
.content-block .content-block-row a:active {
    color: #999;
}
.content-block .content-block-row p {
    font-size: 18px;
    color: #666;
}
.content-block .content-block-row a:hover p {
    color: #999;
}
.content-block .content-block-row a:active p {
    color: #999;
}

.footer {
    text-align: center;
    padding: 20px 20px;
}
.footer a {
    text-decoration: underline;
    font-weight: bold;
}

/* Parallax base styles
 --------------------------------------------- */

.parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;

    padding: 0;
}

.parallax__group {
    /*outline: 1px solid red;*/
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/**
scale = 1 + (translateZ * -1) / perspective)
*/
.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;

}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}

.content-parallax-group {
    background-color: white;
    z-index: 2;
}

.big-hero-parallax-group {
    height: 600px;
    z-index: 1;
}

.big-hero--base {
    top: 50px;
}
.big-hero--back {
    background: url("../images/background.png") no-repeat center center / 100% auto;
    top: -40px;

}